<div id="<%= dom_id task %>">
  <p>
    <strong>Titulo:</strong>
    <%= task.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= task.descricao %>
  </p>
  <p>
    <strong>Vencimento:</strong>
    <%= task.vencimento %>
  </p>
  <p style>
    <strong>Responsável:</strong>
    <%= task.responsavel %>
  </p>

  <p>
    <strong>Executada:</strong>
    <%= task.executada %>
  </p>
  <p>
    <strong>Topico:</strong>
    <%= task&.topico&.titulo %>
  </p>

</div>
<% if task.gif.present? %>
<iframe src="<%= task.gif %>" width="380" height="280"></iframe>
<% end %>
