<div id="<%= dom_id task %>">
  <p>
    <strong>Titulo:</strong>
    <%= task.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= task.descricao %>
  </p>
  <p>
    <strong>Vencimento:</strong>
    <%= task.vencimento %>
  </p>
  <p style>
    <strong>Responsável:</strong>
    <%= task.responsavel %>
  </p>

  <p>
    <strong>Executada:</strong>
    <%= task.executada %>
  </p>
  <p>
    <strong>Titulo:</strong>
    <%= task.topico.titulo %>
  </p>

</div>
